importFrom(maps, map)
useDynLib(SpatialExtremes)
exportPattern("^[^\\.]")


S3method(TIC, default)

## Methods for class 'maxstab'
S3method(anova, maxstab)
S3method(logLik, maxstab)
S3method(plot, maxstab)
S3method(predict, maxstab)
S3method(print, maxstab)
S3method(profile, maxstab)
S3method(profile2d, maxstab)

## Methods for class 'latent'
S3method(print, latent)

## Methods for class 'copula'
S3method(logLik, copula)
S3method(plot, copula)
S3method(predict, copula)
S3method(print, copula)

## Methods for class 'pspline'
S3method(predict, pspline)
S3method(print, pspline)

## Methods for class 'spatgev'
S3method(anova, spatgev)
S3method(predict, spatgev)
S3method(print, spatgev)


